.MuiTableCell-root {
  padding: 16px 5px !important;
}

.headRow {
  background-color: rgba(198, 64, 64, 0.945);
}

.headColumn {
  background-color: transparent !important;
  color: #fff !important;
  text-align: center !important;
}

.bodyColumnfirst {
  background-color: #fff;
  color: #6f6f6f !important;
  text-align: center !important;
  padding: 8px;
  border: none !important;
  border-bottom: 1px solid #333333 !important;
}
.bodyColumnsecond {
  background-color: #6f6f6f;
  color: #fff !important;
  text-align: center !important;
}

.actionGrid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 5px;
}

/* CSS */
.actionButton {
  background-color: #ffffff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.304) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  z-index: 0;
}

.actionButton:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.actionButton:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.danger,
.danger:hover {
  background-color: #ff2212;
  color: #fff;
}

.css-levciy-MuiTablePagination-displayedRows {
  margin: 0px !important;
}
